nav .tex-col{
    color: white;
}
#logo{
    height: 50px;
      width: 50px;
      margin-right: 2%;
      -webkit-filter: invert(100%);
      filter: invert(100%);
}
.list{
  background-color: white;
  padding: 3px;
  border-radius: 6px;

}
