<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container">
    <img id="logo" class="navbar-brand" src="../assets/images/logo.png"> <a class="navbar-brand text-white"
      routerLink="/github" routerLinkActive="active">GITHUB</a>


    <div id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav navbar-right">
        <li class="list"><a routerLink="/github" routerLinkActive="active"> Github</a></li>
        <li class="list"><a routerLink="/search" routerLinkActive="active"> Search</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>