<body>
  <div class="jumbotron">
    <h1> GITHUB SEARCH</h1>
  </div>
  <div class="container" id="first">
    <div class="row">

      <div class="col-md-5" id="search1">
        <input type="content" class="form-control" type="text" #reposearch>
        <button class="btn btn-primary" (click)="getRepos(reposearch)">SEARCH</button>
      </div>

    </div>
    <ul *ngFor='let reposearch of repoArray; let i = "index"'>
      <div class="row">
        <div class="col-md-12" id="info">
          <p> Repository Name: {{reposearch.name}}<br></p>
          <br>

          <p>Repository Description: {{reposearch.description}}<br></p>
          <br>

          <p>Repository: <a href="{{reposearch.html_url}}">{{reposearch.html_url}}</a></p>
          <br>


        </div>


      </div>
    </ul>

  </div>
</body>