#search1{
  margin: 5%;
}
#info {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;

}
.btn btn-primary{
  text-align: center;
}

p{
    color: #e31c66;
}

h1{
  text-align: center;
  color: white;
  font-family: italic;
}
#first{
  border: 1px solid black;
  border-radius: 20px;
    background: #66FCF1;
    background: linear-gradient#66FCF1;
  
}
body{
  background-color:#66FCF1;
}
.jumbotron{
  background-color: #0B0C10;
}

